body{
    font-family: Arial;
    background:#f1f3f6;
}

.container{
    width:600px;
    margin:60px auto;
}

h2{
    text-align:center;
    margin-bottom:20px;
}

.box{
    background:white;
    padding:25px;
    border-radius:8px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.ket{
    background:#f7f7f7;
    padding:10px;
    border-radius:5px;
    margin-bottom:20px;
}

label{
    display:block;
    margin-bottom:8px;
    font-weight:bold;
}

select{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
    margin-bottom:20px;
}

button{
    background:#4CAF50;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#43a047;
}